*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;
    background: #111;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:16px;
  
}

.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 50px;
}
#part2
{
display: flex;
gap:10px;

}

#part2 h4,h2{
cursor: pointer;
}

#box
{
    height: 300px;
    width:300px;
    background: crimson;
}
#box1
{
    height: 300px;
    width:300px;
    background: greenyellow;
}



/* .main-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */


h1{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    white-space: nowrap;
}