*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: wheat;
  
}

#box
{
    height: 300px;
    width:300px;
    background: crimson;
}
#box1
{
    height: 300px;
    width:300px;
    background: greenyellow;
}